.list {
    &-item {
        width: 100%;
        height: 50px;
    }
    &-noitems {
        text-align: center;
    }
    &-button {
        width: 100%;
        padding: 50px;
        height: 100px;
        text-align: center;
        button {
            border: none;
            background-color: #009688;
            width: 100%;
        }
        h2 {
            background-color: #009688;
            color: white;
            margin: 0 auto;
            padding: 1em 0;
            font-size: 2em;
        }
    }
    &-showing {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding: 1em 2em;
        background-color: #e3e3e3;
    }
    &-details {
        margin-bottom: 3em;
    }
    &-info {
        p {
            margin: 0;
        }
        &--creator {
            padding-top: 1em;
        }
        &--date {
            margin: 0;
            color: #a1a1a1;
        }
        &--title {
            a {
                color: #009688;
                font-size: 1.5em;
            }
        }
    }
}